<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <!--当请求路径为localhost:8080是 自动向localhost:8080/home发出请求-->
    <welcome-file>home</welcome-file>
  </welcome-file-list>
</web-app>
